RewriteEngine On

#RewriteRule ^api/.*$ api.php [L]
RewriteRule ^/archive/alpha_catalogs/.*$. /archive/alpha_catalogs/index.php [L,P]
RewriteRule ^/archive/alpha_styles/.*$. /archive/alpha_styles/index.php [L,P]
RewriteRule ^/archive/alpha_colors/.*$. /archive/alpha_colors/index.php [L,P]

#RewriteRule ^sjcarchiveassets/.*$ https://s3.amazonaws.com/sjcarchiveassets/$1 [L,P]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

AuthType Basic
AuthName "sjcAlphaBroderArchive"
AuthUserFile /etc/httpd/.htpasswd
Require valid-user
RewriteRule . index.php [L]
i